* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #F3F3F3;
}

main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
main > .centr {
   
   -webkit-flex: 3 1 80%;
           flex: 3 1 80%;
   -webkit-order: 2;
           order: 2;
   }

main > .sidebar-left {
   
    -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 1;
           order: 1;
   }
  
  main > .sidebar-right {
   -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 3;
           order: 3;
   }

header, footer {
   display: block;
   min-height: 200px;
   }

header h3  {
 color:#FFF;
 padding-left: 170px;
}

header {
	background-image: url("../img/apples.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
}
img {
	width:100%; 
	height: 100%;
}
/*.topnavigation {
 padding-right: 170px;
}


.topnavigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.topnavigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color:#FFF;
}
  .topnavigation a { 
    text-align: center; 
    padding: 20px;
  }
}*/

.flex-container {
  display: flex;
  align-items: stretch;
  margin-top: 70px;
  margin-bottom: 100px;
}

.flex-container > div {
  width: 50%;
  text-align: justify;
}
.first ,.second {
	flex-grow: 1;
	background-color: #FFF;
}

.first {
	font-size: 14px;
	padding: 80px 30px 80px 100px;
}
.second {
	font-size: 12px;
	padding: 80px 100px 80px 30px;
}

.third {
	width: 100%;
	font-size: 14px;
	 display: flex;
  justify-content: center;
  align-items: center;
  /*height: 200px;*/
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.intermediate {
-ms-flex: 3%;   
    flex: 3%;
    max-width: 3%;
}

.firstimg, .fourimg {
	-ms-flex: 66%; /* IE10 */
    flex: 66%;
    max-width: 66%;
    border: 1px solid #FFF;
    border-bottom: 1px solid #CCCCCC;
}

.twoimg, .thirdimg {
	-ms-flex: 31%; /* IE10 */
    flex: 31%;
    max-width: 31%;
    border: 1px solid #FFF;
}

.firstimg, .twoimg {
	margin: 0 0 15px 0;
}

.thirdimg, .fourimg  {
	margin: 15px 0 0 0;
}

input {
	padding: 10px;
	border: 1px solid #343638;

}  
 input {
	display: inline-block;
}

form input:first-child {
	width: 60%;
	background-color: #F3F3F3;
	
}
form input:last-child {
	background-color: #343638;
	color: #FFF;
}

.secnyw {
	font-size: 14px;
	padding: 80px 70px 80px 30px;
	background-color: #FFF;
}
.firstnyw {
	font-size: 16px;
	padding: 80px 30px 80px 100px;
	background-color: #FFF;
}

footer {
	background-color: #FFF;
	margin: 0 100px 0 100px;
}

footer {
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
footer > .footer-centr {
   
   -webkit-flex: 3 1 80%;
           flex: 3 1 80%;
   -webkit-order: 2;
           order: 2;
   }

footer > .footer-left {
   
    -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 1;
           order: 1;
   }
  
  footer > .footer-right {
   -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 3;
           order: 3;
   }

 .foot {
  display: flex;
  align-items: stretch;
  background-color: #FFF;
}

.foot > div {
  width: 20%;
  margin: 40px;
  font-size: 14px;
}
.foot > div:last-child {
	width: 40%
}
.footer-centr section div:nth-last-child(2) {
    
} 
.thdiv p:last-child {
	color: #F3F3F3;
}


.foottt {
  display: flex;
  align-items: stretch;
}

.foottt > div {
  width: 50%;
  text-align: justify;
}
.footone, .foottwo {
	flex-grow: 1;
}

.footone p, .foot p {
	color:#9E9E9E;
}

.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #343638;
}
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }
}

